# Python Virtual Environments
.venv/
venv/
env/

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo

# IDE & Editor Files
.vscode/
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Large ML Model Artifacts (Competitor files)
*.pkl
*.h5

# Local Logs
calibration_log.txt